<!DOCTYPE html>
<html ng-app="breakoutModule">
<meta charset="utf-8">
<head>
	<title></title>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="normalize.css">
<link rel="stylesheet" type="text/css" href="main.css">
</head>

<body ng-controller="mainController" ng-keyup="escInput($event)" >
<div class = "everything" >
	<div class = "header">
	quoteSavr
</div>

<div class = "appinfo">
	<h2> Store your favorite quotes and rank them!</h2>
</div>


<a href="#img1">
	<button class="add_quote" ng-click="openInput()"> Add a quote.</button>
</a>

<div class = "list_of_quotes" ng-repeat="(quoteIndex, object) in quotes">

	<h3> 
	<button class = "close_button" ng-click = "closeTheQuote($index)">X</button>

	<div class="rating">
		<span class="star" ng-click="submitRating($index)" ng-repeat="star in object.stars track by $index" ng-class="{ 'highlighted': star}">
		&#9733; 
		</span>
	</div>

	<div class = "quoteDiv">
	"{{object.quote}}"
	</div>
	<div class = "authorDiv">
	- {{object.author}}
	</div>
</h3>
</div>

<div href="anything" class="lightbox" id="img1" ng-hide="hideInput">
<div class = "submit_forms" >
<button class = "close_button" ng-click="closeInput()">X</button>
<form ng-submit ="submit()">
		<textarea class="quoteinput" type="text" ng-model= "quote.quote" placeholder="enter quote here..."> </textarea> <br>
		<input type="text" placeholder= "enter author here..." ng-model= "quote.author">
		<input type="text" placeholder= "enter a rating 1-5" ng-model= "quote.rating">
			<button
			ng-click= "closeInput()"> Submit </button>
</form>
</div>
</a>
</div>
<script type="text/javascript" src="main.js"></script>
</body>
</html>