/*---------------GENERAL-----------------*/
.everything {
  background-color: #B6C4C7;
  width: 90%;
  margin: auto;
  padding-bottom: 20px;
  border-radius: 100px 100px 10px 10px;
  margin-top: .5%;
}



/*---------------HEADER-----------------*/

.header {
  text-align: left;
  font-size: 93px;
  padding-left: 10px;
  background-color: #D1EFE5;
  font-family: monospace;
  padding-top: 90px;
  border-radius: 40px 40px 0px 0px;
}

.appinfo h2{
  margin-top: -23px;
  border-top: solid thin;
  border-bottom: solid thin;
  background-color: white;
  padding-left: 65px;
  font-weight: 300;
}

 .appinfo {
  text-align: left;
}

/*h5 {
    margin-bottom: 5px;
    text-align: left;
    margin-left: 23%;
}*/

/*---------------LIGHTBOX-----------------*/

.lightbox {
  /** Hide the lightbox */
  display: none;

  /** Apply basic lightbox styling */
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  /** Show lightbox when it is target */
  display: block;

  /** Remove default browser outline style */
  outline: none;
}

/*---------------QUOTE INPUT-----------------*/

.quoteinput {
  width: 88%;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
  height: 200px;
}

input {
  line-height: 1.5;
  width: 90%;
  margin-left: -2px;
}

.submit_forms {
  border: solid thin;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 27%;
  margin-right: 26%;
  background-color: #D1EFE5;
  border-radius: 9px;
  margin-top: 40px;
}

/*---------------QUOTES-----------------*/

.star{
  color: grey;
}

.star:hover{
  color: yellow;
  cursor: pointer;
}

.highlighted{
  color:yellow;
}

.rating {
  text-align: center;
}

.quoteDiv {
  margin-left: 11%;
  text-align: center;
  margin-top: 2px;
  margin-right: 10%;
  font-weight: 100;
}

.authorDiv{
  margin-left: 22%;
  text-align: left;
  font-size: 12px;
  margin-top: 7px;
}

.list_of_quotes {
  background-color: #54CA9A;
  color: white;
  width: 49%;
  margin: auto;
  border-radius: 9px;
  border: solid thin;
  margin-bottom: 10px;
  padding-top: 0px;
}

.list_of_quotes h3 {
  margin-top: 0px;
}


/*---------------BUTTONS-----------------*/


.submit_forms button {
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    margin-top: 10px;
    /* height: 30px; */
    padding: 7px;
}

.submit_forms button:hover{
  opacity: .5;
}

.close_button {
  background-color: red;
  margin-left: 94%;
  cursor: pointer;
  border-radius: 64px;
  font-size: 8px;
  padding: 4px;
  width: 18px;
  border: none;
       }

.submit_forms .close_button{
      width: 22px;
    padding: 3px;
    /* margin-right: 3px; */
    border-radius: 20px;
    margin-left: 88%;
}

.close_button:hover {
  opacity: .5;
  cursor:pointer;
}

.add_quote {
  font-size: 20px;
  margin-left: 30px;
  padding: 10px;
}

.add_quote:hover{
  opacity: .5;
}





























